*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: gilroy;
    color:white;
}

html , body{
    height:100% ;
    width:100%  ;
}
nav{
    display: flex;
    position: fixed;
    background-color: #111;
    align-items: flex-start;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    padding: 2vw 10vw; /* upr-niche , left-right*/
    z-index: 100;
}
#nav-part2{
    display: flex;
    gap: 1vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
#nav-part2 h4{
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 2.6vw;
}
#nav-part2 h5{
    margin-bottom: 1vw;
    /* background-color: red; */
    font-size: .86vw;
    font-weight: 600;
    display: none;
    overflow: hidden;
}
#nav-part2 h5 span{
    font-size: 0.74;
    font-weight: 400;
    display: inline-block ;
    transform: translateY(25px);
}
#nav-bottom{
   height: 0vh ;
   width: 79%;
   position: absolute;
   top: 100%;
   background-color: black;
   z-index: 9;
   border-bottom: 1px solid white ;
}
#page1{
    /* height: 100%; since we have't give any dimensions to the main div so how can we use the 100% property to his child */
    height: 100vh;
    width: 100vw ;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page1 h1 {
    font-size: 8.5vw;
    font-weight: 900;
    text-transform: capitalize;   /* set the text property */
    line-height: 8.5vw;     /* give the gap between the lines*/
}
#page1 h1 svg  {
    height: 12vh;
    font-weight: 12vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#nav-botton{
    background-color: #0DA34E;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-botton-span1{
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw;

}
#nav-botton-span2{
    height: 5.5vh;
    font-weight: 5.5vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight:400;
    margin-top: 3vh;
}
#page1-something{
    display: flex;
}
#page1-something h4{
    border: 1px solid rgb(162, 161, 161);
    border-radius: 50px;
    font-size: 1vw;
    font-weight: 400;
    padding: 2px;
    margin-top: .5vh;
    text-transform: lowercase;
}
#page1-something h4:nth-child(3){
    border: none;
    padding: 2px;
}
#moving-div{
    position: absolute;
    margin-top: 10vh;
    bottom: 3%;
    /* background-color: red; */
    width: 44%;
    white-space: nowrap;
    padding: 1.2vw ;
    overflow: hidden;
}
#moving-div .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9999ms;  /* this tag is controling speed (i don't know how )*/
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
}
#blur-left{
    height: 100%;
    width: 20%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, #111, transparent );
}
#blur-right{
    height: 100%;
    width: 20%;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, transparent, #111 );
}
@keyframes mobe  {   /* creating animation for moving div*/
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}